<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Test Suit | Installation</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset("css/style.css") }}">
    {% endblock %}

</head>

<body class="InstallBody">
<div class="Global  GlobalInstall" ng-app="inst.app" ng-strict-id>
    <header class="Global__Header  InstallHeader">
        <h1 class="Install__Title">Test Suit</h1>
    </header>

    <div class="Content">
        {% block content %}{% endblock %}
    </div>
</div>

    {% block javascript %}
        <script type="text/javascript" src="{{ asset("bower_components/ace-builds/src-min-noconflict/ace.js") }}"></script>
        <script type="text/javascript" src="{{ asset("bower_components/jquery/dist/jquery.min.js") }}"></script>
        <script type="text/javascript" src="{{ asset("bower_components/angular/angular.min.js") }}"></script>
        <script type="text/javascript" src="{{ asset("js/directives.js") }}"></script>
        <script type="text/javascript" src="{{ asset("js/directives.components.js") }}"></script>
        <script type="text/javascript" src="{{ asset("js/factories.js") }}"></script>
        <script type="text/javascript" src="{{ asset("js/install.js") }}"></script>
    {% endblock %}
</body>
</html>