<!DOCTYPE html>
<html ng-app="suite.app">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>

        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>

        <!-- CreateUserSubmitButton -->
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/font-awesome-4.3.0/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset("css/style.css") }}">
        {% endblock %}

        {{ include('user-list.html.twig') }}
        {{ include('global-errors.html.twig') }}
        {{ include('submit-directive.html.twig') }}
        {{ include('create-user.html.twig') }}
        {{ include('managment-menu.html.twig') }}
        {{ include('create-test.html.twig') }}
        {{ include('test-list.html.twig') }}

        {{ include('blocks/text-answer-block.html.twig') }}
        {{ include('blocks/code-answer-block.html.twig') }}
        {{ include('blocks/text-question-block.html.twig') }}
        {{ include('blocks/select-block.html.twig') }}
        {{ include('blocks/code-block.html.twig') }}
        {{ include('blocks/workspace.html.twig') }}
        {{ include('blocks/workspace-builder.html.twig') }}
        {{ include('blocks/workspace-modifier.html.twig') }}
        {{ include('components/listing-component.html.twig') }}
        {{ include('components/user-filter.html.twig') }}
        {{ include('user-row.html.twig') }}
        {{ include('test-row.html.twig') }}

    </head>
    <body>
        <div class="Global">
            <header class="Global__Header">
                <nav class="Container  MainNavigation">
                    <ul class="MainNavigation__List">
                        <li><a href="{{ path('app_authorized_home') }}" class="List--navigationLink"></a></li>
                    </ul>

                    <div class="UserInfo">
                        <label  class="UserInfo--mail">{{ model.getModelData('username') }}<span class="UserInfo--userIcon"></span></label>
                    </div>
                </nav>
            </header>

            {% block content %}{% endblock %}
        </div>

        {% block javascript %}
            <script type="text/javascript" src="{{ asset("bower_components/es5-shim/es5-shim.min.js") }}"></script>
            <script type="text/javascript" src="{{ asset("bower_components/es6-shim/es6-shim.min.js") }}"></script>
            <script type="text/javascript" src="{{ asset("bower_components/ace-builds/src-min-noconflict/ace.js") }}"></script>
            <script type="text/javascript" src="{{ asset("bower_components/jquery/dist/jquery.min.js") }}"></script>
            <script type="text/javascript" src="{{ asset("bower_components/angular/angular.min.js") }}"></script>
            <script type="text/javascript" src="{{ asset("js/directives.blocks.js") }}"></script>
            <script type="text/javascript" src="{{ asset("js/directives.components.js") }}"></script>
            <script type="text/javascript" src="{{ asset("js/directives.js") }}"></script>
            <script type="text/javascript" src="{{ asset("js/factories.js") }}"></script>
        {% endblock %}
    </body>
</html>
