<!DOCTYPE html>
<html ng-app="suite.app">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>

        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset("css/style.css") }}">
        {% endblock %}



    </head>
    <body>
        <div class="Global">
            <header class="Global__Header">
                <nav class="Container  MainNavigation">
                    <ul class="MainNavigation__List">
                        <li><a href="{{ path('app_authorized_home') }}" class="List--navigationLink"></a></li>
                    </ul>

                    <div class="UserInfo">
                        <span class="UserInfo--userIcon"></span>
                        <button class="UserInfo--mail">{{ model.getModelData('username') }}</button>

                        <div class="TestListPopup">

                            <div class="PopupProfile">
                                {% if model.isInRole('ROLE_ADMIN') %}
                                    <a href="{{ path('app_authorized_createUserGet') }}" class="Profile--choiceLink">Create admin/user<span class="PopupIcons  AddUserIcon"></span></a>
                                {% endif %}
                                <a href="" class="Profile--choiceLink">Edit profile<span class="PopupIcons  EditProfileIcon"></span></a>
                                <a href="{{ path('logout') }}" class="Profile--choiceLink">Logout<span class="PopupIcons  LogoutIcon"></span></a>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>

            {% block content %}{% endblock %}
        </div>

        {% block javascript %}
            <script src="{{ asset("bower_components/jquery/dist/jquery.min.js") }}"></script>
            <script src="{{ asset("bower_components/angular/angular.min.js") }}"></script>
            <script src="{{ asset("js/directives.js") }}"></script>
            <script src="{{ asset("js/factories.js") }}"></script>
            <script src="{{ asset("js/add-user.js") }}"></script>
        {% endblock %}
    </body>
</html>
